.header { background: #D5BAE4; }
.layout { position: relative;}
div.layout  { position: absolute; width: 99%; margin: 0px;}
.col1 {  min-width: 23%; max-width:23%; display: inline-block; vertical-align: top ;}
.col2 {  left: 25%; min-width: 62%; max-width:62%; display: inline-block; vertical-align: top ;}
.col3 {  right: 2px; min-width: 14%; max-width: 14%; display: inline-block; vertical-align: top; margin:0px;}

	td.pl_1 { background-color : #ffcccc; font-family: Helvetica, Verdana, sans-serif; font-size:14px; }
	td.pl_2 { background-color : #ffdede; font-family: Helvetica, Verdana, sans-serif; font-size:14px;  }
	td.pl_3 { background-color : #ffefef; font-family: Helvetica, Verdana, sans-serif; font-size:14px;  }
	td.pl_4 { background-color : #ffffff; font-family: Helvetica, Verdana, sans-serif; font-size:14px;  }
		
	li.pl_1 { background-color : #ffcccc; }
	li.pl_2 { background-color : #ffdede; }
	li.pl_3 { background-color : #ffefef; }
	li.pl_4 { background-color : #ffffff; }

	button.btn_left_on { 
		background-size: 20px 15px;
		background-image : url('../img/gal_on.png');
		background-repeat: no-repeat;
		background-position: 15px 0px; 
		padding-left: 3px;
    	width: 40px;
		text-align: left;
		border-radius: 4px;
	}

	button.btn_left_off { 
		background-size: 20px 15px;
		background-image : url('../img/gal_off.png'); 
		background-repeat: no-repeat;
		background-position: 15px 0px; 
		padding-left: 3px;
    	width: 40px;
		text-align: left;
		border-radius: 4px;
	}

	button.btn_right_on { 
		background-size: 20px 15px;
		background-image : url('../img/gal_on.png');
		background-repeat: no-repeat;
		background-position: 3px 0px; 
		padding-right: 3px;
    	width: 40px;
		text-align: right;
		border-radius: 4px;
	}

	button.btn_right_off { 
		background-size: 20px 15px;
		background-image : url('../img/gal_off.png'); 
		background-repeat: no-repeat;
		background-position: 3px 0px; 
		padding-right: 3px;
    	width: 40px;
		text-align: right;
		border-radius: 4px;
	}